:root{
    --black: #000;
    --grey: #ECECEC;
    --beige: #FDF8F5;
}
.catalog{
    background-color: var(--grey);
    height: 829px;
}
.header{
    background-color:var(--white);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    height: 133px;
}
.container{
    max-width:1400px;
    margin: 0 auto;
}
.header-nuv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 41px;
}
.menu ul{
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 1202px;
}
.icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 88px;
}
.menu a{
    color: var(--black);
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
}
.lll{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 95px;
}
.text-catalog{
    color: var(--black);
    font-family: "Cormorant Garamond", serif;
    font-size: 45px;
    font-weight: 400;
    text-transform: uppercase;
}
.right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 205px;
}
.text-catalog1{
    color: var(--black);
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
}
.photo-catalog{
    padding-top: 41px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.c{
text-align: center;
}
.c1{
    padding-bottom: 25px;
}
.v{
    text-align: center;
}
.v1{
    padding-bottom: 25px;
}
.b{
    text-align: center;
}
.b1{
    padding-bottom: 25px;
}
.description-text{
    color: var(--black);
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
}
.footer{
    background-color: var(--beige);
    height: 151px;
}
.flex-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 57px;
}
.footer-text1{
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
}
.footer-logo{
    margin-left: -300px;
}