:root{
    --black: #000;
    --white: #fff;
    --pink: #DBADBD;
    --beige: #FDF8F5;
}
.bgimg1{
    background-image: url(./img/bg/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 416px;
}
.header{
    background-color:var(--white);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    height: 133px;
}
.container{
    max-width:1400px;
    margin: 0 auto;
}
.header-nuv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 41px;
}
.menu ul{
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 1202px;
}
.icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 88px;
}
.menu a{
    color: var(--black);
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
}
.title {
    padding-top: 188px;
    text-align: center;
    margin: 0 auto;
    width: 879px;
    text-transform: uppercase;
    font-weight: 300;
    color: var(--black);
    font-family: "Cormorant Garamond", serif;
    font-size: 76px;
}
.text{
    font-size: 26px;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    width: 394px;
    color: var(--black);
    margin-bottom: 48px;
}
.button{
    margin-top: 47px;
    padding: 10px 38px;
    background-color: var(--pink);
    width: 284px;
    margin: 0 auto;
    display: block;
}
.button a{
    color: var(--black);
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
}
.block1{
    background-color: var(--beige);
    height: 1004px;
    margin: 0 auto;
}
.info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}
.left{
    margin-top: 121px;
    width: 650px;
}
.text1{
    color: var(--black);
    font-family: "Cormorant Garamond", serif;
    font-size: 45px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 47px;
}
.textp{
    color: var(--black);
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    width: 721px;
    padding-top: 20px;
}
.footer{
    background-color: var(--beige);
    height: 151px;
}
.flex-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 57px;
}
.footer-text1{
    font-size: 22px;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
}
.footer-logo{
    margin-left: -300px;
}